<%= provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Welcome to Storyboard!</h1>
	<h2>Storyboard is an awesome little app, that lets you create short stories with your friends.</h2>
	<%= link_to "Sign up now!", '#', class:"btn btn-large btn-primary" %> <!-- btn-primary makes it 
blue :-)-->
</div>

