<% if signed_in? %>
<% provide(:title, current_user.name) %>
<aside class="span4">
	<section>
		<h1>
			<%= image_tag(current_user.image) %>
			<%= current_user.name %>
		</h1>
	</section>
</aside>
<% else %>
<%= provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Welcome to Storyboard!</h1>
	<h2>Storyboard is an awesome little app, that lets you create short stories with your friends.</h2>
	<%= link_to "Sign in with Facebook!", 'auth/facebook' , class:"btn btn-large btn-primary" %> <!-- btn-primary makes it 
blue :-)-->
</div>
<% end %>

