<footer class="footer">
  <small>
    <strong>Storyboard</strong>
    by Louis Brutton
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>